<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Sibmir SDET" preserve-order="true" thread-count="10" parallel="methods">
        <classes>
            <class name="org.example.tests.SwagLabs.LoginFailed"/>
            <class name="org.example.tests.SwagLabs.BuyItemTest"/>
        </classes>
    </test>
</suite>