<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Sibmir SDET">
        <classes>
            <class name="org.example.tests.SwagLabs.LoginFailed">
                <methods>
                    <include name="authFailed"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>